# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Spring Boot
HELP.md
*.log

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db